[default]
ssh_user            = root
ssh_private_key_file = /root/.ssh/id_rsa
backup_manager_host = root@192.168.122.124
remote_backup_cmd   = /usr/local/xb-mgr/bin/backup_local
full_backup_day     = Sunday
root_dir            = /usr/local/xb-mgr
backup_dir          = /backup
log                 = /var/log/xb-mgr/backup_manager.log
pid                 = /var/run/xb-mgr.pid
retain_days         = 7
retain_num_ready_backups = 1
error_email_recipient = ovaistariq@gmail.com

[db01]
hostname    = db01
log         = /var/log/xb-mgr/db01.log
pid         = /var/run/xb-mgr-db01.pid

[db02]
hostname    = db02
log         = /var/log/xb-mgr/db02.log
pid         = /var/run/xb-mgr-db02.pid
